<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport" />
<meta content="ie=edge" http-equiv="X-UA-Compatible" />
<title>Spring Boot - Thymeleaf</title>
<link href="main.css" rel="stylesheet" />
</head>
<body class="flex items-center justify-center h-screen">
	<div class="rounded-lg border shadow-lg p-10 w-3/5">
		<div class="flex flex-row justify-between pb-4">
			<div>
				<h2 class="text-xl font-bold">
					Order #<span class="text-green-600"></span>
				</h2>
			</div>
			<div>
				<div class="text-xl font-bold">6</div>
			</div>
		</div>

		<table class="table">
			<tr>
				<td><small class="my-0">Zambo Grande</small></td>
				<td><small class="text-muted">30</small></td>
				<td><small class="text-muted">50.25</small></td>
				<td><small class="pr-4">1507.5</small>
				</td>
			</tr>
			<tr>
				<td><small class="my-0">Zambo</small></td>
				<td><small class="text-muted">30</small></td>
				<td><small class="text-muted">5.0</small></td>
				<td><small class="pr-4">150.0</small>
				</td>
			</tr>
			<tr>
				<td><small class="my-0">Caribas</small></td>
				<td><small class="text-muted">18</small></td>
				<td><small class="text-muted">4.0</small></td>
				<td><small class="pr-4">72.0</small>
				</td>
			</tr>
			<tr>
				<td><small class="my-0">Caribas Grande</small></td>
				<td><small class="text-muted">18</small></td>
				<td><small class="text-muted">25.15</small></td>
				<td><small class="pr-4">452.7</small>
				</td>
			</tr>
			<tr>
				<td><small class="my-0">Coca Cola</small></td>
				<td><small class="text-muted">30</small></td>
				<td><small class="text-muted">15.0</small></td>
				<td><small class="pr-4">450.0</small>
				</td>
			</tr>
			<tr>
				<td><small class="my-0">Coca Cola 3 Litros</small></td>
				<td><small class="text-muted">25</small></td>
				<td><small class="text-muted">50.0</small></td>
				<td><small class="pr-4">1250.0</small>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>